@import "tailwindcss";

@theme {
  --color-chat: #03FFDA;
  --color-chat-b: #5ACBB0;
  --color-nav-b: #DDE2E7;
}


@layer utilities {
  .text-body {
    color: var(--60, #6C7582);
    text-align: center;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
}

/* index.css */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }


.time-font{
  color: var(--Mono-Black, #000);
text-align: center;
font-family: "SF Pro Text";
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 129.412% */
letter-spacing: -0.8px;
}

.support-title-font{
  color: #000;

/* Heading_20 */
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 24px */

}


.support-location-font{
  color: var(--80, #3C434F);

/* Bold_16_Semibold */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 24px */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: 25%; /* 4px */
text-underline-position: from-font;

}

.support-category-name-font{
  color: var(--80, #3C434F);

/* Body_16_Regular */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

.support-factor-name-font{
  color: var(--100, #191919);

/* Body_18_Semibold */
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 21.6px */
letter-spacing: 0.18px;
}

.support-detail-font{
  color: var(--100, #191919);

/* Body_14_Regular */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}

.support-price-font{
  color: var(--80, #3C434F);

/* Body_14_Regular */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}

.support-more{
  color: var(--80, #3C434F);

/* Body_16_Regular */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

/* 보이는 스크롤바 제거 (기능은 유지) */
.no-scrollbar {
  -ms-overflow-style: none;      /* IE/Edge */
  scrollbar-width: none;         /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;                 /* Chrome/Safari/Edge */
}

.support-goodprice-badge-font{
  color: #000;
text-align: center;

/* Detail/02_Regular */
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
}

.support-akke-badge-font{
  color: var(--Green-04, #5ACBB0);
text-align: center;

/* Detail/02_Regular */
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
}

.support-goto-navermap-font{
  color: #000;

/* Detail/01_Regular */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: 25%; /* 3.5px */
text-underline-position: from-font;
}

.support-detail-name-font{
  color: #000;
text-align: center;

/* Heading/01_Bold */
font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 28.8px */
}

.support-detail-address-font{
  color: var(--100, #191919);

/* Body/02_Regular */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

.support-detail-phone-font{
color: var(--100, #191919);

/* Body/02_Regular */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

.support-detail-time-font{
  color: var(--100, #191919);

/* Body/02_Regular */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

.support-detail-notime-font{
color: #FF1953;

/* Body/02_Regular */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */

}

.support-detail-editor-font{
color: var(--100, #191919);

/* Body/02_Semibold */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 24px */
}

.support-detail-editor2-font{
  color: var(--80, #3C434F);

/* Body/02_Regular */
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
